.jumbotron {
    margin-bottom: 0px;
    background: url('../img/punching-gloves.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
	/*outline: 1px solid black;*/
}

.stroke {
 	color: #c00; /* text color */
 	-webkit-text-stroke: 2px #000; /* stroke color and weight */
}

.dropdown {
    display: inline-block;
}



